.App {
  background-color: #1abb9c;
}

.App-header {
  margin: 20px;
}
.App-header h1 {
  font-size: 36px;
  color: #3b0944;
}
.container {
  background-image: url("./images/marble.jpg");
  background-size: cover;
  background-position: center;
  padding: 20px;
}
.App-footer {
  font-size: 13px;
}
.App-footer a {
  text-decoration: none;
  color: #00bdaa;
}
.App-footer a:hover {
  text-decoration: underline;
}
#logo {
  border-radius: 5px;
  width: 100px;
}
@media (max-width: 900px) {
  .App-header {
    margin: 10px;
  }
  .App-header h1 {
    font-size: 24px;
  }
}
