.App {
  background-color: #00bdaa;
}

.App-header {
  margin: 20px;
}
.container {
  background-image: linear-gradient(
      rgba(234, 234, 234, 0.9),
      rgba(234, 234, 234, 0.9)
    ),
    url("images/dictionary.jpg");
  background-size: cover;
  background-position: center;
  padding: 20px;
  border-radius: 5px;
}
.App-footer {
  margin: 20px;
  font-size: 12px;
}
#book {
  border-radius: 5px;
  width: 200px;
}
