.Dictionary {
  padding: 30px;
}
.Dictionary section {
  background-color: rgba(247, 247, 247, 0.9);
  border-radius: 5px;
  padding: 20px 45px;
  margin: 10px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
}
.Dictionary h2 {
  font-size: 24px;
  margin: 20px 0;
}
.Dictionary .btn-bd-primary {
  background-color: #5f1854;
  color: white;
}
.Dictionary .btn-bd-primary:hover {
  background-color: #3b0944;
  color: white;
}

@media (max-width: 900px) {
  .Dictionary {
    padding: 20px;
  }
  .Dictionary section {
    padding: 20px;
  }
  .Dictionary h2 {
    font-size: 20px;
  }
}
